[submodule "src/Resources"]
	path = src/Resources
	url = https://github.com/Pouja/capeofhelius-resources.git
	branch = master
[submodule "src/cocos2d"]
	path = src/cocos2d
	url = https://github.com/cocos2d/cocos2d-x
